[submodule "backend"]
	path = backend
	name = backend
	url = https://github.com/Sam-rst/EPSI_B3_MSPR-Backend.git
[submodule "etl"]
	path = etl
	name = etl
	url = https://github.com/Sam-rst/EPSI_B3_MSPR-ETL.git
[submodule "infra"]
	path = infra
	name = infra
	url = https://github.com/Sam-rst/EPSI_B3_MSPR-Infra.git
[submodule "frontend"]
	path = frontend
	name = frontend
	url = https://github.com/Sam-rst/EPSI_B3_MSPR-Frontend.git
[submodule "bot"]
	path = bot
	name = bot
	url = https://github.com/Sam-rst/EPSI_B3_MSPR-Bot_Jira.git
